.cardsContainer {
  display: grid;
  gap: 1rem;
}
.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
    gap: 2.5rem;
  }
}
