.cards {
  background-color: #202020;
  border-radius: 4px;
  display: flex;
  gap: 1rem;
  padding-right: 2rem;
  position: relative;
  transition: background 300ms ease-in-out;
  width: 100%;
}
.cards:hover {
  background-color: #303030;
}
.cards img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 64px;
}
.text {
  padding: 0.5rem;
}
.text h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.text p {
  -webkit-box-orient: vertical;
  color: #a7a7a7;
  display: -webkit-box;
  font-size: 0.8125rem;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.cards:hover .heartButton,
.cards:hover .filledHeartButton {
  background-color: #1db954;
  border-radius: 50%;
  display: grid;
  padding: 5px;
  place-content: center;
}
.heartButton {
  display: none;
}

.heartButton {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: 10px;
  scale: 1.3;
  top: 50%;
  transform: translateY(-50%);
}
.filledHeartButton {
  background-color: #1db954;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 10px;
  scale: 1.3;
  top: 50%;
  transform: translateY(-50%);
}
.heartButton:hover {
  color: #ffffff;
}
.heartButton:active {
  color: #f2f2f2;
  scale: 1.22;
}
.filledHeartButton:active {
  color: #f2f2f2;
  scale: 1.22;
}

@media (min-width: 768px) {
  .cards {
    flex-direction: column;
    padding-right: 0;
    width: 180px;
  }
  .heartButton {
    top: 10px;
    transform: none;
  }
  .filledHeartButton {
    top: 10px;
    transform: none;
  }
  .cards img {
    width: 100%;
  }
}
