.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .cardsContainer {
    gap: 2.5rem;
  }
}
