:root {
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: system-ui;
  margin: 0;
}

body {
  background-color: #18122b;
  overflow: hidden;
}
#root {
  max-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.page {
  height: calc(100vh - 11rem);
  margin-left: 220px;
  overflow: auto;
  padding: 1rem;
}
.page::-webkit-scrollbar {
  background-color: #393053;
  width: 8px;
}
.page::-webkit-scrollbar-thumb {
  background-color: #a797db;
  border-radius: 4px;
}
.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}
.gap {
  gap: 8px;
}
.is-active {
  color: #a797db;
}
.is-active svg {
  fill: #a797db;
}

@media (max-width: 768px) {
  .page {
    margin-left: 0;
  }
}
