:root {
  --max-width: 1800px;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

body {
  background-color: #121212;
  color: #ffffff;
  overflow: hidden;
}
#root {
  max-height: 100vh;
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}
a:not(.login):hover {
  text-decoration: underline;
}
a:active {
  scale: 0.97;
}

.page {
  height: calc(100vh - 160px);
  margin-left: 220px;
  max-width: var(--max-width);
  overflow: auto;
  padding: 1.3rem;
}
.page::-webkit-scrollbar {
  background-color: #393053;
  width: 8px;
}
.page::-webkit-scrollbar-thumb {
  background-color: #a797db;
  border-radius: 4px;
}
.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}
.gap {
  gap: 8px;
}
.is-active {
  color: #a797db;
}
.is-active svg {
  fill: #a797db;
}

@media (max-width: 767px) {
  .page {
    height: calc(100vh - 192px);
    margin-left: 0;
  }
}
@media screen and (height < 475px) {
  .page {
    height: calc(100vh - 96px);
  }
}
