:root {
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  color: #ffffff;
  margin: 0;
}

body {
  background-color: #18122b;
  font-family: system-ui;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}
.gap {
  gap: 8px;
}
.is-active {
  color: #a797db;
}
.is-active svg {
  fill: #a797db;
}
